@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
h1{
    
    font-family: "Protest Guerrilla", sans-serif;
    color: aliceblue;
}
#name{
    color:rgb(238, 13, 189)
}
#dis{
    color:rgb(12, 198, 240)
}
#voice{
    width:150px;
    display:none;
}
#btn{
  width:20% ; 
  background: linear-gradient(to right, rgb(238, 13, 189), rgb(12, 198, 240));
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  font-size: large;
  font-weight: 500;
  box-shadow:2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#btn:hover{
    box-shadow:2px 2px 15px rgb(21,145,207),2px 2px 15px rgb(201,41,116);
    border: none;
    font-size: larger;
    cursor: pointer;
}
#mic{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
